.App {
  text-align: center;
}

.header {
  display: flex;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 1;
}

.footer {
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-center;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-content-image {
  width: 100rem;
}

.overlay {
  padding: 13vw 6vw;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}

.notfoundtext {

}

.Noyeezy {
  
}