.App {
  text-align: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.header-nav {
  font-family: "Oswald", sans-serif;
  background-color: #f5f5dc;
  color: #f6f3f2;
  padding: 10px;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.previous {
  color: red !important;
}
.next {
  color: red !important;
}

.footer {
  padding: 1rem;
  background-color: rgb(7, 7, 7) !important;
  color: #fff;
  margin-top: auto;
}

.footer a {
  color: rgba(247, 247, 247, 0.777) !important;
}

.main-content-image {
  max-width: 100%;
  height: auto;
}

.overlay {
  padding: 13vw 6vw;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}

.yeezy-trope {
  align-content: space-between;
  background-image: url('./assets/yeezyTaughtMe.jpeg');
  background-size: 90%;
  background-position: 49% 60%;
  height: 100vh;
  background-repeat: no-repeat;
  margin: 20px;
  font-size: 30px;
  font-family: "Caveat", cursive;
  background-color: #ffffff;
  color: #dc0404;
  padding: 200px;
  align-items: center;
}
.boton {
  border-style: solid;
  border-width: 2px;
  border-color: #333;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Caveat", cursive;
  background-color: hsl(0, 2%, 89%);
  color: #dc0404;
  padding: 10px;
  text-align: center;
  align-items: center;
}
a {
  font-family: "Oswald", sans-serif;
  color: #dc0404 !important;
  text-decoration: none !important;
}

a.active {
  text-decoration: underline !important;
}

.notfoundtext {
  font-family: "Oswald", sans-serif;
  color: #dc0404 !important;

}

.noyeezy {
  font-family: "Oswald", sans-serif;
}