.App {
  text-align: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.header-nav {
  font-family: "Oswald", sans-serif;
  background-color: #f5f5dc;
  color: #f6f3f2;
  padding: 10px;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 1rem;
  background-color: rgb(7, 7, 7) !important;
  color: #fff;
  margin-top: auto;
}

.footer a {
  color: rgba(247, 247, 247, 0.777) !important;
}

.main-content-image {
  max-width: 100%;
  height: auto;
}

.overlay {
  padding: 13vw 6vw;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}

.notfoundtext {
}

.Noyeezy {
}

a {
  font-family: "Oswald", sans-serif;
  color: #dc0404 !important;
  text-decoration: none !important;
}

a.active {
  text-decoration: underline !important;
}